.modal-content {
    border-radius: 20px !important;

    .booking-modal-content {
        display: flex;
        flex-direction: column;

        .booking-modal-header {
            border-bottom: 1px solid #ccc;
            padding: 20px;

            .left {
                font-size: 16px;
                font-weight: 600;
                color: #333;
            }

            .right {
                float: right;
                cursor: pointer;
            }
        }

        .booking-modal-body {
            height: 100%;
            padding: 25px;

            .doctor-infor {
                padding-bottom: 20px ;
            }

            .col-6 {
                padding: 10px;
            }


        }

        .booking-modal-footer {
            display: flex;
            justify-content: flex-end;
            padding: 20px;
            border-top: 1px solid #ccc;
            gap: 15px;

            button {
                border: none;
                outline: none;
                padding: 5px 10px;
                border-radius: 6px;
                font-weight: 500;

            }

            .btn-booking-confirm {
                background-color: orange;

                &:hover {
                    background-color: rgb(228, 149, 4);

                }
            }

            .btn-booking-cancel {
                background-color: transparent;

                &:hover {
                    background-color: #f8f8f8;

                }
            }
        }
    }
}