.manage-schedule-container {
    max-width: 1920px;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding: 50px 0;
    background-color: #f5f4f9;

    .manage-schedule-wrapper {

        width: 80%;
        padding: 50px 80px 50px 0;

    }

    .m-s-title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 50px;
        padding-bottom: 20px;
        position: relative;
        color: #173b6c;

        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background: #149ddd;
            bottom: 0;
            left: 0;
        }
    }

    .pick-hour-container {
        margin: 20px;
        flex-wrap: wrap;
        display: flex;
        gap: 20px;
        height: 150px;
        align-content: flex-start;

        .btn-schedule {
            padding: 10px 20px;
            text-transform: uppercase;
            border-radius: 8px;
            font-size: 17px;
            font-weight: 500;
            color: #000000;
            text-shadow: none;
            background: rgb(255, 255, 255);
            box-shadow: transparent;
            border: 1px solid #ffffff80;
            transition: 0.5s ease;
            user-select: none;
            border: 1px solid #000000;

            &.active {
                background-color: rgb(218, 181, 15);
            }

        }
    }


    .btn-save-schedule {}
}