.contain {
    display: flex;
    justify-content: center;
    background: #f5f4f9;



    .counter-container {
        border-radius: 10px;
        margin-top: -110px;
        width: 900px;
        height: 180px;
        display: flex;
        flex-wrap: wrap;
        background-image: url(https://slidesigma.nyc/templatemonster/react/medtab/assets/img/pattern-2.png);
        background-color: rgb(0, 172, 177);
        align-content: center;
        justify-content: space-between;

        .counter-span {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            color: #fff;
            font-weight: 800;

            h1 {
                font-size: 48px;
                font-weight: bold;
            }

            .plus {
                font-size: 40px;

            }

        }
    }
}