.wrapper-content {
    width: 100%;
    height: 600px;
    display: flex;
    background: #f5f4f9;

    .container {
        padding: 95px 82px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .left-content {
        height: 100%;
        width: 24%;
        margin: 0 50px;

        .app-img {
            background-image: url(https://bookingcare.vn/assets/anh/bookingcare-app-2020.png);
            background-repeat: no-repeat;
            background-size: 200px auto;
            height: 100%;
        }
    }

    .right-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 46%;

        h2 {
            color: #005963;
            font-size: 40px;
        }

        ul {
            li {
                color: #686a6f;
                list-style: none;
                margin: 10px;
                font-size: 16px;

                i {
                    margin: 0 4px;
                    color: #005963;
                }
            }

        }

        .app-link {
            display: flex;
            flex-direction: row;

            .ios {
                background-image: url(https://bookingcare.vn/assets/icon/google-play-badge.svg);
                background-repeat: no-repeat;
                background-size: 200px auto;
                height: 100px;
                width: 40%;
            }

            .android {
                background-image: url(https://bookingcare.vn/assets/icon/app-store-badge-black.svg);
                background-repeat: no-repeat;
                background-size: 200px auto;
                height: 100px;
                width: 40%;
            }
        }

    }
}

@media screen and (max-width:640px) {
    .wrapper-content {
        .container {
            padding: 30px 0 0 0!important;
            .left-content {
                width: 30%;
                margin: 0 8px;

                .app-img {
                    background-size: 100px auto;
                }
            }

            .right-content {
                h2 {
                    font-size: 24px;
                }

                ul {
                    padding: 0;

                    li {
                        font-size: 13px;
                    }
                }

                .app-link {
                    flex-direction: column;

                    .ios {
                        width: 100%;
                        background-size: 125px auto;
                        height: 50px;
                    }

                    .android {
                        width: 100%;
                        background-size: 125px auto;
                    }
                }
            }

        }
    }
}


@media screen and (max-width:1040px) {
    .wrapper-content {
        height: auto;

        .container {
            padding: 95px 0px ;

            .left-content {
                width: 30%;

            }

            .right-content {

                .app-link {
                    .ios {
                        background-size: 125px auto;
                    }

                    .android {
                        background-size: 125px auto;
                    }
                }
            }
        }
    }

}