.specialty-wrapper {
    height: 550px;
    background: #f5f4f9;
    padding: 20px 0;

    .section-container {
        height: 100%;
        width: 1170px;
        display: block;
        margin: 0 auto;
        position: relative;

        .section-header {
            button {
                position: absolute;
                right: 7px;
                top: 0;
                padding: 10px;
                border: none;
                color: #b9b8ba;
                background: #ebebeb;
                border-radius: 5px;
            }
        }

        .section-body {
            margin-top: 50px;

            .section-customize {
                overflow: hidden;

                .bg-image {
                    width: 350px;
                    height: 230px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 6px 6px 0 0;

                }

                .custom-text {
                    width: 350px;
                    height: 150px;
                    border: 2px solid #ebf2f3;
                    border-radius: 0 0 6px 6px;
                    padding: 30px;

                    h4 {
                        color: #005963;
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 10px;
                        cursor: pointer;

                        &:hover {
                            color: #02717e;

                        }

                    }

                    .readmore {
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        color: #00acb1;
                        font-size: 16px;
                        font-weight: bold;
                        cursor: pointer;


                        i {
                            margin-left: 5px;
                            transition: 0.2s linear;
                        }

                        &:hover {
                            color: #005963;

                            i {
                                margin-left: 10px;
                            }
                        }
                    }

                }


                &:hover {
                    .custom-text {
                        background: #ffffff;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    }
                }
            }
        }
    }
}